* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
body {
    background: #ffffff;
}
.container {
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
}
.title {
    display: block;
    margin-top: 0;
    margin-bottom: 27px;
    font-family: "Lato";
    font-size: 30px;
    font-weight: 900;
    line-height: 15.86px;
    letter-spacing: -0.1px;
    color: #666d89;
}
.desc {
    margin-bottom: 50px;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #767e9e; //проверить
}
.row {
    display: flex;
    margin: 49px -15px 0px -15px;
}
.row-wrap {
    flex-wrap: wrap;
}
.col-4 {
    flex-basis: 33%;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    background: #2d303a;
}
.header_wraper {
    display: flex;
    justify-content: space-between;
}
.header_logo {
    text-decoration: none;
}
.header_logo_singolo {
    display: block;
    margin-top: 34px;
    margin-bottom: 35px;
    font-family: "Lato";
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.1px;
    line-height: 20px;
    color: #ffffff;
}
.star {
    font-size: 25px;
    color: #f06c64;
}
.header_menu {
    display: flex;
    padding-left: 0;
    margin-top: 40px;
    list-style: none;
}
.header_menu_link {
    font-family: "Lato";
    font-size: 12px;
    font-weight: 400;
    line-height: 6.32px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}
.header_menu_link:hover {
    color: #f06c64;
}
.header_menu_point {
    padding-left: 12.5px;
    padding-right: 12.5px;
    color: #494e62;
}
.header_bottom {
    height: 6px;
    background: #323746;
}
.slider {
    padding-top: 53px;
    background-color: #f06c64;
}
.slider-wrap {
    position: relative;
    display: flex;
    padding-left: 35px;
    padding-right: 35px;
    align-items: center;
    justify-content: space-around;
}
.slider-item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.slider-arrow {
    position: absolute;
    width: 20px;
    height: 60px;
    transition: all 0.3s;
}
.slider-arrow:before, 
.slider-arrow:after {
    position: absolute;
    display: block;
    height: 5px;
    width: 19px;
    content: "";
    cursor: pointer;
    background-color: #ca4549;
    border-radius: 3px;
    transition: all 0.3s;
} 
.slider-arrow:hover:before, 
.slider-arrow:hover:after {
    background-color: #e7393e;
}
.slider-arrow_prev {
    left: 3px;
}
.slider-arrow_prev:hover {
    transform: translateX(-8px);
}
.slider-arrow_prev:before {
    top: 29px;
    transform-origin: left center;
    transform: rotate(-45deg);
}
.slider-arrow_prev:after {
    top: 27px;
    transform-origin: left center;
    transform: rotate(45deg);
}
.slider-arrow_next {
    right: 0;
}
.slider-arrow_next:hover {
    transform: translateX(8px);
}
.slider-arrow_next:before {
    top: 29px;
    transform-origin: right center;
    transform: rotate(45deg);
}
.slider-arrow_next:after {
    top: 27px;
    transform-origin: right center;
    transform: rotate(-45deg);
}
.slider-arrows {
    position: absolute;
    top: calc(50% - 32px);
    width: 100%;
}
.slider-bottom {
    margin-top: 55px;
    height: 6px;
    background-color: #ea676b;
}
.services {
    padding-top: 70px;
    background-color: #f2f2f2;
}
.services-item {
    display: flex;
}
.services-item_title {
    font-family: "Lato";
    font-size: 18px;
    font-weight: 900;
    line-height: 17.86px;
    color: #666d89;
}
.services-item_desc {
    display: block;
    margin-top: 10px;
    font-family: "Lato";
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    letter-spacing: 0.1px;
    color: #767e9e;
}
.flex-col {
   padding-left: 21px;
   padding-bottom: 32px;
}
.services-bottom {
    margin-top: 29px;
    height: 6px;
    background-color: #ffffff;;
}





























































